/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0; 
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

a {
  text-decoration: none;
  color: #3b82f6
}

a:hover {
  color: #1d4ed8
}

#navbar {
  padding: 8px;
}

#logo {
    display: block;
  }

#logo-with-text {
  display: none;
}

#banner {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

h1 {
  text-align: center;
  margin: 12px 0;
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

#description {
  font-size: 1.25rem;
}

#team img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
  margin: 12px 0;
}

.jobs {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

#jobs-list {
  display: block;
}

#jobs-table {
  display: none;
}

.job {
  border: 1px solid #dddddd;
  margin-top: 8px;
  border-radius: 5px;
  padding: 8px;
}

.job:hover {
  cursor: pointer;
  background-color: #222222;
}

.job:hover .job-title {
  color: #ffffff;
}

.job-title {
  color: #222222;
  font-size: 1.25rem;
  font-weight: 500;
}

.job-detail {
  margin-top: 4px;
  color: #888888;
}

.application {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

.form-group {
  margin: 16px 0;
}

.form-group label {
  font-weight: 600;
}

.form-group input, select, textarea {
  width: 90%;
  padding: 8px;
  font-weight: 1.25rem;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea {
  font-family: 'Roboto', sans serif;
}

.form-group input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.form-group input[type="submit"] {
  background-color: #2b7fff;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

footer {
  margin-top: 32px;
  padding: 8px 0;
  background-color: ghostwhite;
  text-align: center;
  background-color: #fafafa
}

.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links li {
  margin: 8px 16px;
}

.copyright {
  color: #71717a;
  font-size: 0.875rem;
}

/* 




 */

 @media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }

  #logo-with-text {
    display: block;
  }

  #logo {
    display: none;
  }

  #banner {
    height: 200px;
  }

  h1 {
    margin: 16px 0;
  }

  h2 {
    margin: 16px 0;
  }

  .form-group input, select {
    width: auto;
  }

  .form-group textarea {
    width: 80%;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-inline-start: 0;
  }
 }



 @media screen and (min-width: 768px) {
  #banner {
    height: 280px;
  }

  h1 {
    margin: 20px 0;
  }

  #about {
    max-width: 800px;
    flex-direction: row;
  }

  #description {
    flex-basis: 50%;
  }

  #team {
    flex-basis: 50%;
  }

  h2 {
    margin: 20px 0;
  }

  .jobs {
    max-width: 800px;
  }

  #jobs-list {
    display: none;
  }

  #jobs-table {
    display: table;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }

  .jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: #bfdbfe;
    text-align: center;
    color: #222222;
  }

  .jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
  }

  #jobs-table tr:nth-child(odd) {
    background-color: #eff6ff;
  }

  .date {
    text-align: right;
  }

  .application {
    max-width: 800px;
  }

  .footer-links {
    justify-content: space-evenly;
  }
 }